<!DOCTYPE html>
<html>
<head>
	<title>Finished</title>
	<link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css') }}">
</head>
<body>
<div class="index-window">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<h1>You Have Finished!</h1>
<h1>Team Baidu Thank you for your participation!!!</h1>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="btnholder-center">
		<button class="restart-btn">Restart</button>
	</div>

</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>
<script>
	$('.restart-btn').click(function () {
	    window.location.href = "/";
    });


</script>
</body>