<!DOCTYPE html>
<html>
<head>
    <title>Rechapcha Testing</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css') }}">
</head>
<body>


<div class="window">
    <h1>Select all images with</h1>
    <h1 id="question"></h1>
    <h1>Click verify once there are none left</h1>
    <h1> Progress: {{cur_num}} / {{total_num}} </h1>
    <!-- <img src=""> -->


    <!-- <img src="{{ url_for ('static', filename='img-board/export-mask.png') }}" alt="" class="export-mask"> -->

    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <div class="border" class="row">
                <img id="img_1" src="{{ url_for ('static', filename='img/aaa.png') }}" alt="">
            </div>
            <div class="border" class="row">
                <img id="img_4" src="{{ url_for ('static', filename='img/aaa.png') }}" alt="">
            </div>
            <div class="border" class="row">
                <img id="img_7" src="{{ url_for ('static', filename='img/aaa.png') }}" alt="">
            </div>

        </div>
        <div class="column" style="background-color:#bbb;">
            <div class="border" class="row">
                <img id="img_2" src="{{ url_for ('static', filename='img/bbb.png') }}" alt="">
            </div>
            <div class="border" class="row">
                <img id="img_5" src="{{ url_for ('static', filename='img/bbb.png') }}" alt="">
            </div>
            <div class="border" class="row">
                <img id="img_8" src="{{ url_for ('static', filename='img/bbb.png') }}" alt="">
            </div>
        </div>
        <div class="column" style="background-color:#ccc;">
            <div class="border" class="row">
                <img id="img_3" src="{{ url_for ('static', filename='img/ccc.png') }}" alt="">
            </div>
            <div class="border" class="row">
                <img id="img_6" src="{{ url_for ('static', filename='img/ccc.png') }}" alt="">
            </div>
            <div class="border" class="row">
                <img id="img_9" src="{{ url_for ('static', filename='img/ccc.png') }}" alt="">
            </div>
        </div>
    </div>

    <!--<div class="btnholder-center">-->
		<!--<button class="restart-btn">Restart</button>-->

    <div action="/record" method="post" class="buttonbox">
        <button class="confirm-btn" type="button">Confirm</button>
        <button class="cancel-btn" type="button">Cancel</button>
    </div>
</div>
<script>
    var category = '{{ category }}';
</script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    // $("#confirm-btn").css("display", "none");
    function saveTime() {
        var date = new Date();
        var timeObj = {milli: date.getMilliseconds(), sec: date.getSeconds(), min: date.getMinutes(), hr: date.getHours()};
        localStorage.setItem("timeObj", JSON.stringify(timeObj));
        // $('#result').append(JSON.stringify(timeObj) + ' -- > Saved<br />');
    }

    var clicked = [0, 0, 0, 0, 0, 0, 0, 0, 0]
    $.get("hci/" + category, function (data) {
        for (var i = 1; i <= 9; i++) {
            var name = 'img_' + i.toString();
            var name_src = 'data:image/png;base64, ' + data[name];
            $('#' + name).attr('src', name_src);
        }
        $('#question').text(data['task_2']);
        saveTime();
    });

    $("img").click(function (e) {
        console.log(e.target.id);
        var id = e.target.id;
        var index = id.substr(id.length - 1);
        console.log(index);
        if (clicked[index - 1] == 0) {
            clicked[index - 1] = 1;
            $(this).parent().css("border-color", "red");
            $(this).parent().css("border-style", "solid");
        } else {
            clicked[index - 1] = 0;
            $(this).parent().removeAttr("style");
        }
    });

    $(".confirm-btn").click(function (e) {
        console.log('clicked!')
        date = new Date();
        console.log('current_millisecond:', date.getMilliseconds());
        console.log('current_second:', date.getSeconds());
        console.log('current_minutes:', date.getMinutes());
        console.log('current_hr:', date.getHours() * 60 * 60 * 1000 + date.getMinutes() * 60 * 1000);
        console.log(typeof (date.getHours()));

        // var timeObj = {milli: date.getMilliseconds(), sec: date.getSeconds(), min: date.getMinutes(), hr: date.getHours()};

        var old_timeObj = JSON.parse(localStorage.getItem("timeObj"));
        console.log('old_hr', old_timeObj.hr);
        console.log('old_min', old_timeObj.min);
        console.log('old_sec', old_timeObj.sec);
        console.log('old_milli', old_timeObj.milli);
        var time_interval = date.getHours() * 60 * 60 * 1000 + date.getMinutes() * 60 * 1000 + date.getSeconds() * 1000 + date.getMilliseconds()
            - old_timeObj.hr * 60 * 60 * 1000 - old_timeObj.min * 60 * 1000 - old_timeObj.sec * 1000 - old_timeObj.milli;

        var new_time = date.getHours() * 60 * 60 * 1000 + date.getMinutes() * 60 * 1000 + date.getSeconds() * 1000 + date.getMilliseconds();
        var old_time = old_timeObj.hr * 60 * 60 * 1000 + old_timeObj.min * 60 * 1000 + old_timeObj.sec * 1000 + old_timeObj.milli;
        console.log('old_time_total', old_time);
        console.log('new_time_total', new_time);
        var new_time_interval = new_time - old_time;
        console.log(time_interval);
        console.log(time_interval.toString());

        var return_data = {'clicked': clicked, 'time': time_interval};
        console.log(return_data);
        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: '/record',
            dataType: 'json',
            data: JSON.stringify(return_data),
            success: function (result) {
                // jQuery("#clash").html(result);
            }, error: function (result) {
                // console.log(result);
            }
        });
        window.location.href = "/rerender";
    });

    $(".cancel-btn").click(function () {
        $(".border").removeAttr("style");
        clicked = [0, 0, 0, 0, 0, 0, 0, 0, 0]
    });



</script>
</body>
</html>